.loader {
  animation: beating 2s infinite;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  padding: 2rem;
  margin-top: 2.5rem;
}

@keyframes beating {
  0% {
    box-shadow: 0 0 0 0px rgba(24, 103, 190, 0.2);
  }

  100% {
    box-shadow: 0 0 0 18px rgba(0, 0, 0, 0);
  }
}
