* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 1.2rem;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}